.board{
    height: 600px;
    width: 300px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px 8px 4px 8px ;
    position: relative;
    
}

.board-head{
    height:60px;
    width: 300px;
    background-color: rgb(202, 166, 235);
    border-radius: 8px 8px 0 0 ;
    position: relative;
}

.addBoardButton{
    margin-right: 8px;
    margin-top: 5px;
    float: right;
    height: 40px;
    width: 26px;
    border-radius: 0 8px  8px 0;
    background-color:rgb(43, 238, 4);
    border: rgb(43, 238, 4);
}

.addBoardButton:hover {
    background-color:rgb(200, 253, 190);
}

.board-headText{
    height:50px;
    width: 250px;
    font-size: 26px;
    border-radius: 8px;
    border:none;
    margin-left: 10px;
    background-color: rgb(202, 166, 235);
    outline: none;
    -moz-appearance: none;
    resize: none;
}

.board-body{
    height: 100%;
    width: 100%;
    overflow: visible;
    overflow-x:  hidden;
}

.card{
    width: 280px;
    background-color: rgb(216, 208, 224);
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 10px;
}

.card-head{
    margin-left: 10px;
}

.card-body{
    margin-left: 15px;
    font-size: 10px;
}

.deleteCard{
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    background-color:rgb(243, 71, 71);
    border: rgb(243, 71, 71);
}

.deleteCard:hover {
    background-color:rgb(231, 181, 181);
}

.deleteBoardButton{
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    height: 40px;
    width: 26px;
    border-radius: 0 8px  8px 0;
    background-color:rgb(243, 71, 71);
    border: rgb(243, 71, 71);
}

.deleteBoardButton:hover {
    background-color:rgb(231, 181, 181);
}

.addCard{
    margin-bottom: 30px;
    height: 40px;
}

.addCard span{
    margin-left: 9px;
    font-size: 20px;
}

.newCard{
    background-color: #ffffff;
    border: none;
    border-radius:  8px 0 0 8px;
    margin-left: 9px;
    margin-top: 7px;
    font-size: 20px;
    width: 238px;

}

.addCardButton{
    float: right;
    margin-right: 8px;
    margin-top: 7px;
    height: 24px;
    width: 20px;
    border-radius: 0 8px 8px 0 ;
    background-color:rgb(0, 255, 34);
    border: rgb(243, 71, 71);
}

.addCardButton:hover {
    background-color:rgb(189, 255, 198);
}