body{
  background-color: #61dafb;
  width: 100%;
}
.root{
  background-color: #61dafb;
  width: 100%;
  position: relative;
}
.App {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #61dafb;
  display: flex;
  flex-direction: column;
  
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(230, 213, 247); 
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgb(225, 193, 255); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(162, 109, 187);
}

.App_header{
  width: 100%;
  font-size: 48px;
  text-decoration: black;
  text-align: center;
  background-color: rgb(162, 211, 204);
  position: relative;
}

.App-link {
  color: #61dafb;
}

.App-body{
  height: 100%;
  width: 100%;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
  position: relative;
}

.deactive{
  display: none;
}